@import url('https://fonts.googleapis.com/css2?family=Eater&display=swap');

body {
    font-family: 'Eater', Arial, Helvetica, sans-serif;
    background-color: rgb(177, 179, 181);
}

button {
    font-family: 'Eater', Arial, Helvetica, sans-serif;
    background-color: burlywood;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    border-radius: 12%;
    padding: 5px;
    margin: 5px;
    font-size: 16px;
}

/*genral to all boxes & items*/

.flexbox {
    display: flex;
    /* border: 2px solid brown; */
    padding: 20px;
    /* margin: 20px; */
}

.item{
    /*border: 2px solid purple;*/
    /*padding: 20px; */
}

/*section 1*/

.box1item{
    width: 300px;
    margin: 20px;
    padding: 20px;
}

#box1{
    background-color: blanchedalmond;
    justify-content: space-around;
}

/*section 2*/

.box2item {
    padding: 1px;
    flex-basis: 250%;
}

.fourboxes {
    padding: 20px;
}

/* Center image and button vertically for section 2 boxes */
.fourboxes {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.fourboxes img {
    display: block;
    margin: 0 auto;
    max-width: 150px;
}

.fourboxes button {
    margin-top: 10px;
}

#box2 {
    justify-content:space-evenly;
    flex-wrap: wrap;
}

/*section 3*/

.box3item {
    margin: 2px;
}

#box3 {
    background-color:bisque;
    flex-direction: column;
}

/*section 4*/

.box4item {
    padding: 20px;
}

#box4{
 justify-content: space-around;
}

#nestedbox1 {
    display: flex;
    justify-content: space-between;
    width: 500px;
    background-color: lightsalmon;
    border-radius: 6%;
}

/*section 5*/

#box5{
    background-color: burlywood;
    flex-direction: column;
}